.barraRicerca {
    width: 100%;
    max-width: 500px;
}

.card {
    max-width: 200px; /* Imposta la larghezza massima delle card */
    margin: 0 auto;   /* Centra le card all'interno della colonna */
}

.card-img-top {
    height: 300px;    /* Imposta l'altezza delle immagini */
    object-fit: cover; /* Mantiene le proporzioni delle immagini */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mt-auto {
    margin-top: auto; /* Margine superiore automatico per spingere gli elementi verso il basso */
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

 .card-body .d-flex {
    flex-wrap: wrap; /* Permette ai bottoni di andare su più righe se necessario */
    gap: 2px; /* Spazio tra i bottoni */
}  

.btn{
    width: 80px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

#secPage{
    background-color: black;
    color: yellow;
}